.expo/
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
build/
.gradle/
app/build/
app/.cxx/
exemplo.app.json.base
exemplo.eas.json.base
android/app/src/main/res/xml/exemplo_network_security_config.xml
android/app/src/main/exemplo.AndroidManifest.xml
app/src/main/res/xml/exemplo_network_security_config.xml
app/src/main/exemplo.AndroidManifest.xml
.expo\
android\build\
android\.gradle\
android\app\build\
android\app\.cxx\
build\
.gradle\
app\build\
app\.cxx\
exemplo.app.json.base
exemplo.eas.json.base
android\app\src\main\res\xml\exemplo_network_security_config.xml
android\app\src\main\exemplo.AndroidManifest.xml
app\src\main\res\xml\exemplo_network_security_config.xml
app\src\main\exemplo.AndroidManifest.xml