.expo\
android\build\
android\.gradle\
android\app\build\
android\app\.cxx\
build\
.gradle\
app/build\
app/.cxx\
.expo/
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
build/
.gradle/
app/build/
app/.cxx/
exemplo.app.json.base
exemplo.eas.json.base
android/app/src/main/res/xml/exemplo_network_security_config.xml
android/app/src/main/exemplo.AndroidManifest.xml
app/src/main/res/xml/exemplo_network_security_config.xml
app/src/main/exemplo.AndroidManifest.xml
android\app\src\main\res\xml\exemplo_network_security_config.xml
android\app\src\main\exemplo.AndroidManifest.xml
app\src\main\res\xml\exemplo_network_security_config.xml
app\src\main\exemplo.AndroidManifest.xml

node_modules\
node_modules/
npm-debug.log
yarn-error.log

.git\
.hg\
.svn\
.git/
.hg/
.svn/

*.jks
*.p12
*.keystore
*.local
*.log
.idea/
.vscode/
.idea\
.vscode\

ios\
ios/